[Unit]
Description=WireGuard keepalive service
After=wg-quick@%i

[Service]
ExecStart=/usr/bin/wg-keepalive --no-log-timestamp %i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
