[Unit]
Description=WireGuard keepalive service
Requires=wg-quick@%i.service
After=wg-quick@%i.service

[Service]
ExecStart=/usr/bin/wg-keepalive --no-log-timestamp %i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
